@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-deep-black text-white font-sans overflow-x-hidden;
  }
}

@layer utilities {
  .glass {
    @apply bg-glass-panel backdrop-blur-lg border border-white/10 shadow-[0_4px_30px_rgba(0, 0, 0, 0.1)];
  }

  .neon-text {
    text-shadow: 0 0 10px rgba(0, 243, 255, 0.7);
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}